/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: "Segoe UI", Arial, sans-serif;
}

/* Fondo azul/celeste */
.gradient-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #4da0ff, #89e0ff);
    z-index: -1;
}

/* Centrado */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px;
}

/* Tarjeta */
.login-card {
    width: 350px;
    background: white;
    padding: 40px;
    border-radius: 14px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.15);
    text-align: center;
    animation: fadeIn 0.4s ease-in-out;
}

/* Título grande */
.title-main {
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 8px;
    color: #1d1d1d;
}

/* Subtítulo */
.subtitle {
    font-size: 15px;
    color: #555;
    margin-bottom: 30px;
}

/* Inputs */
input {
    width: 100%;
    padding: 12px;
    border: 1px solid #d6d6d6;
    border-radius: 10px;
    margin-bottom: 15px;
    font-size: 15px;
    transition: 0.2s;
}

input:focus {
    border-color: #4da0ff;
    box-shadow: 0 0 5px rgba(77, 160, 255, 0.3);
    outline: none;
}

/* Botón */
.btn-submit {
    width: 100%;
    padding: 12px;
    background: #4da0ff;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s;
}

.btn-submit:hover {
    background: #3b86dd;
}

/* Enlace */
.forgot {
    display: block;
    margin-top: 12px;
    font-size: 14px;
    color: #3b86dd;
    text-decoration: none;
}

.forgot:hover {
    text-decoration: underline;
}

/* Animación */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to   { opacity: 1; transform: translateY(0); }
}


.msg-container {
    margin-bottom: 20px;
}
.msg-error {
    background: #ffe1e1;
    color: #b30000;
    border: 1px solid #ffb5b5;
    padding: 10px;
    border-radius: 8px;
    font-size: 14px;
    animation: fadeIn 0.3s ease-in-out;
}
